        body {
            margin: 0;
            padding: 0;
            font-family: Raleway, arial;
        }
        
        .police {
            font-family: 'Pokemon hollow';
        }
        
        .nav-container {
            width: 100%;
            height: 60px;
            position: fixed;
            z-index: 1;
        }
        
        .nav-bar {
            height: 50px;
            background-color: rgb(192, 34, 34);
            color: white;
            display: flex;
            flex-direction: row;
            order: 1px solid black;
        }
        
        .nav-pan {
            display: none;
        }
        
        h1 {
            margin-top: 10px;
            margin-left: 30px;
            position: fixed;
            font-family: 'Pokemon Hollow';
        }
        
        .cercle {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            border: 1px solid black;
            background: red;
            margin-top: 5px;
            margin-right: 5px;
        }
        
        .cercle2 {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            border: 1px solid black;
            background: yellow;
            margin-top: 5px;
            margin-right: 5px;
        }
        
        .cercle3 {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            border: 1px solid black;
            background: green;
            margin-top: 5px;
            margin-right: 5px;
        }
        
        .logo {
            width: 70px;
            height: 50px;
            background-image: url("./WCS_transparent.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 1;
            text-align: right;
            margin-right: 10px;
            position: fixed;
            right: 0;
            top: 0px
        }
        
        .nav-subbar {
            height: 20px;
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        
        .nav-visible {
            width: 40%;
            background-color: rgba(192, 34, 34);
        }
        
        .nav-invisible {
            color: #fff;
            position: relative;
            padding: 10px;
            /* optionnel */
            display: inline-block;
            margin: 30px;
            content: " ";
            background: rgb(192, 34, 34);
            top: -30px;
            left: -60px;
            right: 0px;
            bottom: 0;
            z-index: -1;
            transform: skewX(-45deg);
            width: 40px;
        }
        
        .test {
            position: relative;
            width: 1900%;
            display: flex;
            height: 100%;
            display: flex;
            flex-direction: row;
        }
        
        .overview {
            display: none;
        }
        
        .menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: relative;
            top: 10;
            left: 20;
        }
        
        .menu-bar {
            border-radius: 5px;
            background-color: white;
            text-transform: uppercase;
            color: red;
            height: 10px;
            font-size: 8px;
            text-align: center;
            margin-bottom: 2px;
        }
        
        .nav-top-article {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        
        .nav-top-invisible {
            width: 0;
            border-bottom: 20px solid rgba(199, 68, 68, 0.3);
            border-left: 20px solid transparent;
        }
        
        .nav-top-visible {
            width: 40%;
            background-color: rgba(199, 68, 68, 0.3);
            text-align: center;
        }
        
        .image {
            width: 120px;
            height: 40px;
            margin-top: 10px;
            margin-left: 25px;
        }
        
        .pokeball {
            width: 40px;
            height: 40px;
            margin: 10px;
            margin-top: 10px;
        }
        
        .carte {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            /*border: 2px solid rgba(199, 68, 68, 0.3); */
            flex-direction: column;
            align-items: center;
            background-image: url("/Fond01.png");
            height: 100%;
            justify-content: center;
            border: 0;
        }
        
        .carte-fond {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            /*border: 2px solid rgba(199, 68, 68, 0.3); */
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            height: 100%;
            justify-content: center;
            background-image: linear-gradient(grey, white);
            text-transform: uppercase;
            font-size: 12px;
            text-overflow: ellipsis;
            padding: 15px;
            text-align: center;
        }
        
        .img-profile {
            width: 200px;
            height: 200px;
            margin-bottom: 10px;
            border-radius: 50%;
            border: 2px solid rgba(199, 68, 68, 1);
            border-bottom: 0;
            border-left: 0;
            padding: 20px;
        }
        
        .proprietes {
            display: grid;
            grid-template-columns: 120px 120px;
            grid-template-rows: auto;
            text-transform: uppercase;
            font-size: 12px;
            text-overflow: ellipsis;
            padding: 20px;
            text-align: center;
        }
        
        .proprietes div {
            padding-bottom: 5px;
        }
        
        .proprietes div:nth-child(2n+1) {
            font-weight: 600;
            text-align: right;
        }
        
        .proprietes div:nth-child(2n) {
            text-align: left;
            padding-left: 10px;
        }
        
        .proprietes div img {
            height: 15px;
        }
        
        .footer {
            position: absolute;
            bottom: 0;
            height: 50px;
            width: 100%;
            background-color: rgb(194, 34, 34);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        
        .form {
            position: fixed;
            top: 100px;
        }
        /*Dealing with svgs*/
        
        svg {
            border: 1px solid white;
            border-radius: 50%;
            padding: 2px;
            margin-top: 2px;
        }
        
        @media screen and (min-width:786px) {
            body {}
            main {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 100%;
            }
            .nav-container {
                height: 100%;
                position: static;
                top: 0;
                width: 40%
            }
            .footer {
                display: none;
            }
            .nav-pan {
                display: flex;
                height: calc(100% - 80px);
                flex-direction: column;
                justify-content: space-evenly;
            }
            .nav-menu-item {
                background-color: white;
                color: black;
                border-bottom: 1px solid grey;
                height: 100%;
                width: 100%;
                text-align: center;
            }
            .nav-menu-item:hover {
                cursor: pointer;
            }
            .test {
                position: relative;
                display: flex;
                height: 1800%;
                display: flex;
                flex-direction: column;
                width: 60%;
                margin: auto;
            }
            .carte {
                width: 100%;
                height: 100%;
            }
            .overview {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
            .overview img:last-child() {}
        }